.left-header {
  display: flex;
  padding: 14px 20px;
  justify-content: center;
}

.chat-room {
  margin-top: 10px;
  display: flex;
  width: 100%;
  height: 55%;
  border: 1px solid green;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 20px;
}
